header {
    background-color: aqua;
    height: 70px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 70px;
}

main div {
    width: 80%;
}

img {
    display: block;
    width: 100%;
}

article {
    margin: 10px 0px;
    border: 1px solid black;
    background: lightgray;
    border-radius: 10px;
}